{# Пример макроса
    
    {% macro render_posts(post_list, sep=False) %}
        <div>
            {% for post in post_list %}
                <h2>{{ post.title }}</h2>
                <article>
                    {{ post.html|safe }}
                </article>
            {% endfor %}
            {% if sep %}<hr>{% endif %}
        </div>
    {% endmacro %}  
    
    
    Вызов макроса {{ render_posts(posts) }} 

    Импорт макроса {% import "macros.html" as  macros %}
    Теперь можно ссылаться на макросы в файле macros.html с помощью переменной macros {{ macros.render_posts(posts) }}
    Импортирование определенных макросов {% from "macros.html" import render_posts %}
#}


{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label() }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %} 